# Kamal deployment configuration for Signal Harvester (Landing Page)
service: signal-harvester

image: zelusottomayor/signal-harvester

servers:
  web:
    hosts:
      - 143.110.169.251

proxy:
  ssl: true
  host: signalharvester.com
  hosts:
    - signalharvester.com
    - www.signalharvester.com
  app_port: 3000
  healthcheck:
    path: /up

registry:
  username: zelusottomayor
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  clear:
    NODE_ENV: production
    PORT: 3000

builder:
  arch: amd64

ssh:
  user: root
