# Name of your application. Used to uniquely configure containers.
service: signal-harvester

# Name of the container image.
image: zelusottomayor/signal-harvester

# Deploy to these servers.
servers:
  web:
    hosts:
      - 143.110.169.251

# Enable SSL auto certification via Let's Encrypt
proxy:
  ssl: true
  hosts:
    - signalharvester.com
  app_port: 3000
  healthcheck:
    path: /up
    interval: 3
    timeout: 3

boot:
  limit: 30

# Credentials for your image host.
registry:
  username: zelusottomayor
  password:
    - KAMAL_REGISTRY_PASSWORD

# Inject ENV variables into containers (secrets come from .env).
env:
  clear:
    NODE_ENV: production
    PORT: 3000
  secret:
    - DATABASE_URL

# Use accessory services for PostgreSQL database
accessories:
  db:
    image: postgres:16-alpine
    host: 143.110.169.251
    env:
      clear:
        POSTGRES_DB: signal_harvester
      secret:
        - POSTGRES_USER
        - POSTGRES_PASSWORD
    directories:
      - data:/var/lib/postgresql/data

# Configure the image builder.
builder:
  arch: amd64

# Use root for SSH
ssh:
  user: root
